.main-page {
    background-color: #ffffff;
    overflow: hidden;
    width: 100vw; 
    margin: 0 auto;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* 메인 제목  */

  .main-page .text-wrapper {
    color: #000000;
    font-family: "Questrial-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1.28px;
    line-height: 76.8px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: 0;
    right: 0;
    top:5%
  }

  /* 메인 이미지  */

  .main-page .pref-image {
    margin-top: 8%;
    height: 70vh;
    width: 100vh;
  }


  /* 메인 로그인 버튼  */

  .main-page .button {
    all: unset;
    background-color: #3d58e5;
    border-radius: 8px;
    box-sizing: border-box;
    height: 64px;
    overflow: hidden;
    position: absolute;
    width: 227px;

    top: 700px;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
  }

  .main-page .div {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 26px;
    left: 64px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
  }
  
  .main-page .element-logo-google {
    height: 63px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 63px;
  }
  

  .timetable table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .timetable th, .timetable td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  .timetable th {
    background-color: #f2f2f2;
  }
  
  /* Add more styles as needed */
  