.main-page {
  background-color: #ffffff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.group {
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fbf5f5;
  height: 150vh;
}


/* SBU LOGO  */
.main-page .sbulogo {
  position: absolute;
  top: 1.5%;
  left: 2%;
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 200px;
}


/* 메인 제목  */
.main-page .text-wrapper {
  position: absolute;
  font-family: "Questrial-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1.28px;
  line-height: 76.8px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  left: 0;
  right: 0;
  top: 4%
}


/* 메인 이미지  */
.main-page .main-image {
  position: relative;
  margin-top: 6%;
  height: 72vh;
  width: 130vh;
  border-radius: 8px;
}


/* 메인 로그인 버튼  */
.main-page .login-button {
  all: unset;
  background-color: #3554ee;
  border-radius: 8px;
  box-sizing: border-box;
  height: 64px;
  overflow: hidden;
  position: absolute;
  width: 227px;
  top: 90%;
  left: 500px;
  right: 0;
  bottom: 80px;
  margin: auto;
}


.main-page .button-text {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 26px;
  left: 64px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.main-page .element-logo-google {
  height: 63px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 63px;
}


/* TimeTable 버튼  */
.main-page .timetable-button {
  background-color: #3554ee;
  border-radius: 8px;
  box-sizing: border-box;
  height: 64px;
  overflow: hidden;
  position: absolute;
  width: 227px;
  top: 90%;
  left: -500px;
  right: 0;
  bottom: 80px;
  margin: auto;
}

.main-page .table-button-text {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 26px;
  left: 35px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}